<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.POS"
        android:windowSoftInputMode="adjustPan">
        <activity
            android:name=".MainBody.dashboard.ordersActivites.ActiveOrderActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"  />
        <activity
            android:name=".MainBody.dashboard.ordersActivites.PaymentActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MainBody.dashboard.ordersActivites.SideActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MainBody.dashboard.OpenFoodActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MainBody.dashboard.ordersActivites.DeliveryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainBody.dashboard.ordersActivites.PizzaActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MainBody.dashboard.ManagementActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainBody.dashboard.OrderActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainBody.dashboard.CustomerActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainBody.registration.RegisterActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainBody.registration.LoginActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainBody.dashboard.Dashboard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainBody.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>